<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 1、配置声明式事务 ，缺省是自动事务-->
	
	<bean id="tm" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource1"></property>
	</bean>
	<!-- 2、导入一个tx标签 -->
	<tx:advice id="ad" transaction-manager="tm">
		<tx:attributes>
			<!-- 哪些方法需要运行时动态切入事务就写哪些 -->
			<tx:method name="save*" />
			<tx:method name="update*" />
			<tx:method name="delete*" />
		</tx:attributes>
	</tx:advice>

	<!-- 3、 配置Service层的save，update方法需要动态切入事务 -->
	<aop:config>
		<!-- 配置切面表达式 cn.yd.oa.service.*.*:代表当前包的类的所有方法 (..)：代表此方法有无参数都可以，什么类型都可以 
			*cn.yd.oa.service：*号代表当前方法有无返回值都可以 -->
		<aop:pointcut
			expression="execution(* cn.yd.oa.service.*.*(..))" id="pt" />
		<aop:advisor advice-ref="ad" pointcut-ref="pt" />
	</aop:config>

	<bean id="dataSource1"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:16608/mysql"></property>
		<property name="user" value="root"></property>
		<property name="password" value=""></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
	</bean>

	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource1"></property>
	</bean>

	<bean id="pd" class="cn.yd.oa.dao.ProductDao">
		<property name="jdbcTemplate" ref="jt"></property>
	</bean>

	<bean id="ps" class="cn.yd.oa.service.ProductService">
		<property name="productDao" ref="pd"></property>
	</bean>

</beans>